<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webtoon</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <h1><a href="{% url 'webtoon:webtoon-list' %}">Webtoon List</a></h1>
        </div>
    </div>
    <div class="container">
        {% for webtoon in webtoons %}
        <div class="">
            <h2 class="post-title"><a href="{% url 'webtoon:webtoon-detail' pk=webtoon.pk %}">{{ webtoon.title }}</a></h2>
        </div>
        {% endfor %}
    </div>
</body>
</html>